CUTEOPTIONSTRATS_DATA_DIR=data
CUTEOPTIONSTRATS_DB_PATH=data/cuteoptionstrats.duckdb

CUTEMARKETS_API_KEY=
CUTEMARKETS_BASE_URL=https://api.cutemarkets.com

ALPACA_API_KEY=
ALPACA_SECRET_KEY=
ALPACA_DATA_BASE_URL=https://data.alpaca.markets
